<template>
  <div class="about">
    <h1>About</h1>
    <textarea v-autofocus></textarea>
  </div>
</template>
<script setup>
  /*
    Imports
   */
  import {vAutofocus} from "../directives/vAutofocus";

</script>