<template>
  <div class="home">

    <h2>{{ appTitle }}</h2>
<!--    <h3>{{ counterData.title }} :</h3>-->

    <div>
      <button @click="decreaseCounter(2)" class="btn">--</button>
      <button @click="decreaseCounter(1)" class="btn">-</button>
      <span class="counter">{{ counterData.count }}</span>
      <button @click="increaseCounter(1)" class="btn">+</button>
      <button @click="increaseCounter(2)" class="btn">++</button>
    </div>

    <p>This Counter Is {{ oddOrEven }}</p>

    <div class="edit">
      <h4>Edit Counter Title : </h4>
      <input v-model="counterData.title" type="text" v-autofocus>
    </div>
  </div>
</template>

<script setup>
/*
  Imports
 */
import {
  computed,
  onActivated,
  onBeforeMount,
  onBeforeUnmount,
  onDeactivated,
  onMounted,
  onUnmounted,
  reactive,
  watch
} from "vue";
import {vAutofocus} from "../directives/vAutofocus";

onMounted(() => {
  console.log('Do stuff related to app title')
})
const appTitle = 'My Amazing Counter App'
// const counter = ref(0),
//       counterTitle = ref('My counter')
const counterData = reactive({
  count: 0,
  title: 'My name is Brian'
})

const oddOrEven = computed(() => {
 if (counterData.count % 2 === 0) return 'Even'
  return 'Odd'
})

watch(() => counterData.count, (newCount, oldCount) => {
  console.log('newCount', newCount)
  if (newCount === 20){
    alert('Hello World')
  }
})

const increaseCounter = amount => {
  counterData.count += amount
}
const decreaseCounter = amount => {
  counterData.count -= amount
}

// onBeforeMount(() => {
//   console.log('onBeforeMount')
// })
onMounted(() => {
  console.log('Do stuff related to app counter')
})
// onBeforeUnmount(() => {
//   console.log('onBeforeUnmount')
// })
// onUnmounted(() => {
//   console.log('onUnmounted')
// })
// onActivated(() => {
//   console.log('onActivated')
// })
// onDeactivated(() => {
//   console.log('onDeactivated')
// })
  /*
    Directives
  */
// const vAutofocus = {
//   mounted: (el) => {
//     el.focus()
//   }
// }
</script>

<!--<script>-->
<!--import {ref} from "vue";-->

<!--export default {-->
<!--  setup() {-->
<!--    const counter = ref(0)-->

<!--    const increaseCounter = () => {-->
<!--      counter.value++-->
<!--    }-->
<!--    const decreaseCounter = () => {-->
<!--      counter.value&#45;&#45;-->
<!--    }-->
<!--    return {-->
<!--      counter,-->
<!--      increaseCounter,-->
<!--      decreaseCounter-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->

<!--<script>-->
<!--export default {-->
<!--  data() {-->
<!--    return {-->
<!--      counter: 10-->
<!--    }-->
<!--  },-->
<!--  methods: {-->
<!--    increaseCounter(){-->
<!--      this.counter ++-->
<!--    },-->
<!--    decreaseCounter(){-->
<!--      this.counter &#45;&#45;-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->

<style>
  .home {
    text-align:center;
    padding: 20px;
  }
  .btn, .counter {
    font-size: 40px;
    margin: 10px;
  }
  .edit{
    margin-top: 60px;
  }
</style>
